body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: hsl(185, 75%, 39%);
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.circle1 {
  position: absolute;
  bottom: 30%;
  right: 40%;
}
.circle2 {
  position: absolute;
  top: 40%;
  left: 50%;
}

.profile-card {
  justify-self: center;
  margin-top: 70px;
  width: 300px;
  height: 350px;
  z-index: 1;
  overflow: hidden;
  border-radius: 15px;
}

.card-bg {
  background-image: url(images/bg-pattern-card.svg);
  width: 100%;
  min-height: 38%;
}

.card-content {
  width: 100%;
  height: 62%;
  background-color: #fff;
}

.pfp {
  height: 95px;
  width: 95px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin: 0 auto;
  position: relative;
  background-image: url(images/image-victor.jpg);
  bottom: 80%;
}

.row1 {
  width: 100%;
  position: relative;
  top: 30%;
  height: 40%;
  background-color: #fff;
  font-family: "Kumbh Sans", sans-serif;
}

.user-name {
  font-size: 18px;
  display: block;
  width: 200px;
  text-align: center;
  padding-top: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-weight: 700;
}

.age {
  font-size: 18px;
  font-weight: 700;
  color: hsl(0, 0%, 59%);
}

.location {
  font-size: 15px;
  margin: 0 auto;
  width: 100px;
  text-align: center;
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}

.line {
  background-color: #efefef;
  width: 100%;
  height: 0.8%;
  position: relative;
  top: 22%;
  z-index: 1;
  margin: 0 auto;
}

.row2 {
  width: 100%;
  height: 50%;
  position: relative;
  top: 20%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stat-box {
  width: 20%;
  height: 50%;
  margin: 15px;
  font-family: "Kumbh Sans", sans-serif;
}

.box-stat {
  font-size: 18px;
  width: 50px;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
}

.box-label {
  font-size: 12px;
  width: 50px;
  color: hsl(0, 0%, 59%);
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 12px;
}

.attribution {
  color: white;
  font-size: 12px;
  padding-top: 50px;
  color: #fff;
  font-family: "Kumbh Sans", sans-serif;
}

.attribution > a {
  text-decoration: none;
  color: #fff;
}
